#about{
    margin: 60px 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img{
    width: 50%;
    height: 340px;
}

#about h2{
    text-align: center;
    font-size: 40px;
    font-family: Comfortaa;
    color: #3AAFA9;
    margin-bottom: 5%;
}

#about p{
    line-height: 25px;
    font-size: 17px;
    font-family: "Roboto Mono";
    font-weight: 500;
    margin-left: 7%;
}

#about .video video{
    height: 490px;
    margin: 10px;
    width: 278px;
    border-radius: 25px;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 85px;
}

#contact .location{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    padding: 10px;
}

#contact .location span{
    font-family: Comfortaa;
    color: #3AAFA9;
    margin-bottom: 15px;
    font-size: 16px;
}

#contact .location h2{
    font-family: "Roboto Mono";
    font-size: 30px;
    line-height: 40px;
}

#contact .location h3{
    font-size: 20px;
    font-family: cursive;
    padding: 15px 0px;
    font-weight: 500;
}

#contact .location div li{
    display: flex;
    align-items: center;
    list-style-type: none;
}

#contact .location li i{
    font-size: 16px;
    padding-right: 15px;
}

#contact .location li p{
    font-size: 14px;
    font-family: Sono;
    color: rgba(34, 34, 34, 0.548);
}

#contact .map{
    width: 53%;
    height: 470px;
    padding: 10px;
}

#location .map iframe{
    width: 100%;
    height: 100%;
}

@media (max-width:850px){
    #page-header p{
        margin-top: 50px;
    }
    #about{
        margin: 30px;
    }
    #about h2{
        font-size: 30px;
    }
    #about p{
        font-size: 14px;
        line-height: 23px;
    }
}

@media (max-width:414px){
    #page-header p{
        display: none;
    }
    #page-header h2{
        padding-top: 190px;
    }
    #about{
        flex-direction: column;
    }
    #about img{
        width: 100%;
        height: auto;
    }
    #about h2{
        margin-top: 25px;
        font-size: 35px;
    }
    #about p{
        margin: 0px;
    }
}