#about{
    margin: 60px 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img{
    width: 50%;
    height: 340px;
}

#about h2{
    text-align: center;
    font-size: 40px;
    font-family: Comfortaa;
    color: #3AAFA9;
    margin-bottom: 5%;
}

#about p{
    line-height: 25px;
    font-size: 17px;
    font-family: "Roboto Mono";
    font-weight: 500;
    margin-left: 7%;
}

#about .video video{
    height: 490px;
    margin: 10px;
    width: 278px;
    border-radius: 25px;
}

@media (max-width:850px){
    #page-header p{
        margin-top: 50px;
    }
    #about{
        margin: 30px;
    }
    #about h2{
        font-size: 30px;
    }
    #about p{
        font-size: 14px;
        line-height: 23px;
    }
}

@media (max-width:414px){
    #page-header p{
        display: none;
    }
    #page-header h2{
        padding-top: 190px;
    }
    #about{
        flex-direction: column;
    }
    #about img{
        width: 100%;
        height: auto;
    }
    #about h2{
        margin-top: 25px;
        font-size: 35px;
    }
    #about p{
        margin: 0px;
    }
}