/* Banner section */
#banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("/images/banner/s3.jpg");
    background-size: cover;
    background-position: center;
    margin: 20px 0px;
    width: 100%;
    height: 40vh;
}  

#banner h4{
    color: #fddde4;
    font-size: xx-large;
}

#banner h2{
    color: #cdebbc;
    font-size: x-large;
    padding: 5px 0px;
}

#banner h2 span{
    color: royalblue;
    font-size: xx-large;
}

#banner button:hover{
    background-color: #111111;
    color: #cdd4f8;
    cursor: pointer;    
    box-shadow: 0px 0px 20px white;
}

/* Banner 2 Section */

#banner2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5% 5% 2% 5%;
}

#banner2 .first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    background-image: url("/images/banner/s4.jpg");
    height: 50vh;
    background-size: cover;
    width: 49%;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    margin-right: 5px;
}

#banner2 .second{
    background-image: url("/images/banner/s7.jpg");
    justify-content: space-evenly;
}

#banner2 .second h4{
    color: whitesmoke;    
}

#banner2 h4{
    font-size: 25px;
    color: #3AAFA9;
    font-weight: 900;
    font-family: Comfortaa;
}

#banner2 h2{
    font-size: 149%;
    color:#2B7A78;
    font-weight: 800;
    font-family: Roboto;
}

#banner2 span{
    font-size: 14px;
    color:#FEFFFF;
    font-weight: 500;
    padding-bottom: 15px;
    font-family: Montserrat;
}

#banner2 button{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #088178;
    background-color: transparent;
    transition: 00.3s, ease;
    cursor: pointer;
    border: 1px solid black;
} 

#banner2 .first:hover button{
    background-color: #111111;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

/* Media Query*/
@media (max-width: 850px){
    #banner{
        height: 20vh;
    }
    #banner h4{
        font-size: 30px;
    }
    #banner2{
        margin: 0px;
        padding: 10px 0px;
    }
    #banner h2{
        font-size: larger;
        color: #17252A;
    }
    #banner2 .first{
        width: 48%;
        height: 20vh;
        border-radius: 0px;
        margin-bottom: 10px;
    }
    #banner2 h4{
        color: #17252A;
    }
    #banner2 span{
        color: whitesmoke;
        font-weight: 500;
    }
    #banner2 .second{    
        background-size: 100% 133%;
        background-position: top 82% right 20%;
    }
    #banner2 .second h4{
        color: whitesmoke;
    }
}

@media (max-width:414px){
    #banner{
        height: 40vh;
        background-position: top 100% right 12%;
    }
    #banner h2 span{
        font-size: x-large;
    }
    #banner2 .first{
        width: 100%;
        height: 25vh;
    }
}