/* Footer Section */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 7%;
}

footer col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

footer .col img{
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}