/* Banner section */

#banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("images/banner/s3.jpg");
    background-size: cover;
    background-position: center;
    margin: 20px 0px;
    width: 100%;
    height: 40vh;
}  

#banner h4{
    color: #fddde4;
    font-size: xx-large;
}

#banner h2{
    color: #cdebbc;
    font-size: x-large;
    padding: 5px 0px;
}

#banner h2 span{
    color: royalblue;
    font-size: xx-large;
}

#banner button:hover{
    background-color: #111111;
    color: #cdd4f8;
    cursor: pointer;    
    box-shadow: 0px 0px 20px white;
}

/* Banner 2 Section */

#banner2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5% 7%;
}

#banner2 .first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    background-image: url(images/banner/s4.jpg);
    height: 50vh;
    background-size: cover;
    width: 530px;
    background-position: center;
    padding: 20px;
}

#banner2 .second{
    background-image: url("/images/banner/s5.webp");
    width: 95vh;
}

#banner2 h4{
    font-size: 25px;
    color: #1d7daa;
    font-weight: 300;
    font-family: Comfortaa;
}

#banner2 h2{
    font-size: 28px;
    color:#2dace2;
    font-weight: 800;
    font-family: Roboto;
}

#banner2 span{
    font-size: 14px;
    color:#111111;
    font-weight: 500;
    padding-bottom: 15px;
    font-family: Montserrat;
}

#banner2 button{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #088178;
    background-color: transparent;
    transition: 00.3s, ease;
    cursor: pointer;
    border: 1px solid black;
} 

#banner2 .first:hover button{
    background-color: #111111;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}