
/* Featured Products */
#product{
    text-align: center;
    margin: 50px;
}

#product .product_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#product h2{
    color: #088178;
    font-family: cursive;
}

#product p{
    font-size: x-large;
    font-family: monospace;
    font-style: italic;
}

#product .pro{
    width: 25%;
    padding: 10px 12px;
    border: 0px solid slategray;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 10%);
    margin: 15px 40px 15px 40px;
    transition: 0.3s ease;
    position: relative;
    top: 10%;
}

#product .pro:hover{
    box-shadow: 0px 0px 25px 10px #f3bc6c57;
}

#product .pro img{ 
    width: 100%;
    border-radius: 20px;  
}

#product .pro .des{
    text-align: start;
}

#product .pro .des span{
    color: slategray;
    font-size: 14px;
    font-family: Unica One;
}

#product .pro .des h3{
    color: #9e9e9e;
    padding-top: 10px;
}

#product .pro .des button.colour{
    position: absolute;
    right: 32%;
    bottom: 8%;
    background-color: slategray;
    border: 0px solid black;
    border-radius: 100px;
    height: 8.5%;
    width: 13.5%;
}

#product .pro .des button.colour:hover{
    background-color: grey;
    cursor: pointer;
    height: 10%;
    width: 16%;
    right: 30%;
    bottom: 7%;
}

#product .pro .des button.colour2{
    position: absolute;
    right: 18%;
    bottom: 2%;
    border-radius: 100px;
    background-color: bisque;
    border: 0px solid black;
    height: 7.5%;
    width: 12%;
}

#product .pro .des button.colour2:hover{
    background-color: bisque;
    cursor: pointer;
    height: 9%;
    width: 14%;
    right: 18%;
    bottom: 2%;
}

#product .pro .des h5{
    color: #1a1a1a;
    padding-top: 4px;
    font-size: 20px;
    font-family: Chakra Petch;
}

#product .pro .des i{
    font-size: 16px;
    padding-top: 5px;
    color: rgb(243, 181, 25);
}

#product .pro .des h4{
    padding-top: 6px;
    color: #088178;
    font-weight: 700;
    font-size: large;
}

#product .pro .cart{
    height: 11%;
    width: 17%;
    line-height: 50px;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    position: absolute;
    bottom: 12%;
    right: 11%;
    background-color: #cdd4f8;
    color: #088178;
    font-size: x-large;
}
