/* Page Header*/
#page-header{
    background-image: url(images/banner/s10.jpg);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-position: top 43% right 0%;
}

#page-header h2,
#page-header p{
    color: #17252A;
}

#product{
    margin: 50px;
    text-align: center;
}

#product .product_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#product .pro{
    width: 20%;
    padding: 10px 12px;
    border: 0px solid #949999;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 4px rgba(148, 153, 153, 0.589);
    margin: 15px;
    transition: 0.3s ease;
    position: relative;
    top: 10%;
}

#product .pro:hover{
    box-shadow: 0px 0px 25px 10px rgba(148, 153, 153, 0.733);
}

#product .pro img{ 
    width: 100%;
    border-radius: 20px;  
}

#product .pro .des{
    text-align: start;
    height: 130px;
}

#product .pro .des span{
    color: slategray;
    font-size: 18px;
    font-family: Unica One;
    padding-bottom: 4px;
}

#product .pro .des h3{
    color: #17252A;
    padding-top: 10px;
    font-size: 13px;
}

#product .pro .des button.colour{
    position: absolute;
    right: 24%;
    bottom: 8%;
    background-color: #93E9BE;
    border: 0px solid black;
    border-radius: 100px;
    height: 8%;
    width: 15%;
}

#product .pro .des button.colour:hover{
    background-color: grey;
    cursor: pointer;
    height: 9%;
    width: 16%;
    right: 28%;
    bottom: 7%;
}

#product .pro .des button.colour2{
    position: absolute;
    right: 12%;
    bottom: 2%;
    border-radius: 100px;
    background-color: bisque;
    border: 0px solid black;
    height: 7%;
    width: 13%;
}

#product .pro .des button.colour2:hover{
    background-color: bisque;
    cursor: pointer;
    height: 8%;
    width: 14%;
    right: 16%;
    bottom: 2%;
}

#product .pro .des h5{
    color: #3AAFA9;
    padding-top: 4px;
    font-size: 20px;
    font-family: Chakra Petch;
    padding-bottom: 6px;
}

#product .pro .des .star{
    padding-bottom: 6px;
}

#product .pro .des i{
    font-size: 16px;
    padding-top: 5px;
    color: rgb(243, 181, 25);
}

#product .pro .des h4{
    padding-top: 6px;
    color: #088178;
    font-weight: 700;
    font-size: large;
}

#product .pro .cart{
    height: 9%;
    width: 17%;
    line-height: 35px;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    position: absolute;
    bottom: 12%;
    right: 4%;
    background-color: #cdd4f8;
    color: #088178;
    font-size: 20px;
}

#product_container .pro .des button.colour:nth-child(2){
    color: #111111;
}

#product .pro .des:nth-child(2) button.colour2{
    color: #93E9BE;
}

#product .pro .des:nth-child(3) button.colour{
    color: #BEBEBE;
}

#product .pro .des:nth-child(3) button.colour2{
    color: #D6154C;
}

#product .pro .des:nth-child(4) button.colour{
    color: #93E9BE;
}

#product .pro .des:nth-child(4) button.colour2{
    color: #93E9BE;
}

.indexing {
    padding: 12px;
    margin: 12px 60px;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #3AAFA9;
    padding: 10px 15px;
    color: #FEFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

/* Media Query*/
@media (max-width:850px){
    #page-header h2{
        text-align: left;
        display: flex;
        align-items: flex-end;
        padding-left: 30px;
        padding-top: 18%;
    }
    #page-header p{
        color: #2B7A78;
        font-weight: 700;
        font-size: 24px;
    }
    #product {
        margin: 25px;
    }
    #product .pro{
        width: 30%;
        margin: 10px;
        height: 417px;
    }
    #product .pro .des button.colour{
        right: 23%;
        height: 9%;
        width: 17%;
    }
    #product .pro .des button.colour2{
        right: 10%;
        width: 13%;
    }
    #product .pro .cart{
        right: 5%;
        height: 9%;
        line-height: 40px;
    }
}

@media(max-width:414px){
    #page-header h2{
        padding-top: 87px;
        padding-left: 10px;
        font-size: 30px;
    }
    #page-header p{
        font-weight: 700;
        font-size: 15px;
    }
    #product {
        margin: 10px;
    }
    #product .pro {
        width: 44%;
        height: 350px;
    }
    #product .pro .des span{
        font-size: 16px;
    }
    #product .pro .des h5{
        font-size: 16px;
    }
    #product .pro .des button.colour {
        right: 65%;
        bottom: 2%;
        height: 10%;
        width: 21%;
    }
    #product .pro .des button.colour2{
        right: 40%;
        bottom: 2%;
        height: 9%;
        width: 18%;
    }
    #product .pro .cart{
        right: 10%;
        bottom: 2%;
        height: 11%;
        width: 23%;
    }
}