*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 46px;
    color: black;
    line-height: 54px;
}

h4{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
    font-weight: bolder;
}

button.normal{
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    color: #111111;
    background-color: aqua;
    border-radius: 5px;
    border: 0px;
    transition: 0.2s ease;
}

/* Header Section */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: #3AAFA9;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 100%;
    z-index: 999;
}

#logo{
    position: sticky;
    padding: 12px 12px;
    margin: 96px 12px 12px 12px;  
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10px;
}

#navbar li{
    padding: 0px 30px;    
    list-style-type: none;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #FEFEFE;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: #DEF2F1;
    font-size: 20px;
}
 
#navbar li a.active{
    color: FEFEFE;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 3px;
    background-color: #17252A;
    bottom: -4px;
    left: 30px;
    position: absolute;
}

#close{
    display: none;
}

#mobile{
    display: none;
}

/* Media Query*/
@media (max-width: 850px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: rgba(58, 175, 169, 0.774);
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.5);
        padding-top: 80px;
        padding-left: 12px;
        transition: 0.4s;
    }

    #navbar li{
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 1;
    }

    #navbar li a{
        color: aliceblue;
        font-size: 28px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #17252A;
        font-size: x-large;
        padding-right: 40px;
        padding-left: 15px;
    }

    #navbar.active{
        right: 0px;
    }

    #close{
        font-size: 35px;
        position: absolute;
        top: 30px;
        left: 40px;
        display: initial;
        text-decoration: none;
        color: #17252A;
    }

    #shopping-bag{
        display: none;
    }
} 