*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 46px;
    color: black;
    line-height: 54px;
}

h4{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
    font-weight: bolder;
}

button.normal{
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    color: #111111;
    background-color: aqua;
    border-radius: 5px;
    border: 0px;
    transition: 0.2s ease;
}

/* Header Section */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: orange;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 100%;
    z-index: 999;
}

#logo{
    position: sticky;
    padding: 12px 12px;
    margin: 96px 12px 12px 12px;  
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10px;
}

#navbar li{
    padding: 0px 30px;    
    list-style-type: none;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: white;
    font-size: 20px;
}
 
#navbar li a.active{
    color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 3px;
    background-color: red;
    bottom: -4px;
    left: 30px;
    position: absolute;
}