*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 46px;
    color: blue;
    line-height: 54px;
}

h4{
    font-size: 20px;
    color: chartreuse;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: dimgray;
    margin: 15px 0 20px 0;
}

.section_p1{
    padding: 40px 80px;
}

.section_m1{
    margin: 40px 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(204, 199, 221);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5   );
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    padding: 0px 20px;    
    list-style-type: none;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: rgb(228, 23, 23);
    text-decoration: underline;
}

#navbar li a.active{
    text-decoration: underline;
    color:rgb(228, 23, 23);
}
