*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 46px;
    color: blue;
    line-height: 54px;
}

h4{
    font-size: 20px;
    color: chartreuse;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: dimgray;
    margin: 15px 0 20px 0;
}

.section_p1{
    padding: 40px 80px;
}

.section_m1{
    margin: 40px 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px;
    background-color: orange;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    position: fixed;
}

#logo{
    position: absolute;
    margin: 58px 0px 0px 0px;
    padding: 10px 10px;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 782px;
    padding: 10px 10px;
}

#navbar li{
    padding: 0px 30px;    
    list-style-type: none;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: white;
}
 
#navbar li a.active{
    color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 37%;
    height: 2px;
    background-color: white;
    bottom: -4px;
    left: 30px;
    position: absolute;
}