/* Hero Section*/
#hero{
    background-image: url("images/s9.jpeg");
    height: 90vh;
    width: 100%;
    background-position: top 75% right 0;
    background-size: 100% 163%;
    padding: 100px 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    color: rgb(206, 54, 54);
    padding-bottom: 15px;
    font-weight: bold;
    font-size: x-large;
    margin-top: 40px;
}

#hero h2{
    font-size: 42px;
}

#hero h1{
    color: rgb(21, 38, 90);
    font-size: 45px;
}

#hero p{
    color: whitesmoke;
}

#hero button{
    background-image: url("images/shop_now.jpg");
    background-color: transparent;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    height: 60px;
    width: 200px;
}

/* Feature Section */
#feature{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 70px;
}

#feature .fe-box{
    width: 175px;
    padding: 15px 15px;
    margin: 10px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.3);
    border: 1px solid #111111;
    border-radius: 4px;
    text-align: center; 
}

#feature .fe-box:hover{
    box-shadow: 5px 10px 40px rgb(70, 68, 68);
    transition: 0.6s;
} 

#feature .fe-box h6{
    display: inline-block;
    color: #088178;
    padding: 10px 14px 10px 14px;
    line-height: 1;
    border-radius: 4px;
    background-color: #fddde4;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

/* Media Query*/
@media (max-width: 850px){
    #hero{
        height: 70vh;
        padding: 100px 65px;
        background-size: cover;
        justify-content: center;
    }
    #hero h4{
        padding-top: 85px;
    }
    #hero h2{
        color: #DEF2F1 ;
    }
    #hero h1{
        color: #FEFFFF;
    }
    #hero p{
        color: #3AAFA9;
    }
    #feature{
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px;
    }
    #feature .fe-box{
        margin: 15px 35px;
    }
}

@media (max-width: 414px){
    #hero{ 
        height: 80vh;
        padding: 60px 30px;
        background-size: 100% 140%;
        justify-content: center;
    }
    #hero h2{
        font-size: 38px;
    }
    #hero h1{
        font-size: 32px;
    }
    #hero h4{
        padding-top: 25px;
    }
    #feature{
        margin: 15px;
    }
    #feature .fe-box{
        margin: 15px 15px;
        width: 135px;
    }
}