#prodetails{
    display: flex;
    justify-content: space-around;
    display: flex;
    margin-top: 35px;
    margin-left: 70px;
    margin-bottom: 70px;
}

#prodetails .sing-pro-image{
    display: flex;
    width: 55%;
    border-radius: 10px;
}

#prodetails .sing-pro-image img{
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    width: 75%;
}

.small-img-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

#prodetails .small-img-col img{
    transition: 0.2s ease;
    cursor: pointer;
}

.small-img-group img:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px slategray;
}

#prodetails .pro-des{
    width: 49%;
    padding-top: 15px;
    padding-right: 30px;
}

.pro-des h6 {
    font-size: 18px;
    font-family: monospace;
    font-weight: 700;
}

.pro-des h3{
    font-size: 55px;
    padding-top: 20px;
    font-family: auto;
    font-weight: 800;
    color: #3AAFA9;
}

.pro-des p{
    font-size: 24px;
    font-family: "Chakra Petch";
    font-weight: bold;
    margin: 10px 10px 20px 0px;
}

.pro-des select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Sono';
    font-weight: 500;
}

.pro-des select option{
    font-size: 15px;
    font-family: 'Sono';
    font-weight: 500;
    text-align: center;
}

.pro-des input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin: 10px 10px 10px 0px;
}

.pro-des input:focus{
    outline: none;
}

.pro-des button{
    margin: 25px 10px 25px 0px;
    padding: 10px;
    background-color: #3AAFA9;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    height: 10%;
    width: 27%;
    font-size: 19px;
    font-family: 'Sono';
    font-weight: 700;
    transition: 0.3s ease;
    cursor: pointer;
}

.pro-des button:hover{
    background-color: black;
    color: white;
}

.pro-des span{
    line-height: 30px;
    font-family: system-ui;
    font-size: 18px;
    margin: 10px 10px 10px 0px;
}

#product h2{
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    color: #3AAFA9;
    margin: 15px;
}

#product p{
    font-family: 'Chakra Petch';
    font-size: x-large;
    font-weight: 500;
    color: #27252A;
}
/*
#product .pro .des button.c1{
    position: absolute;
    right: 24%;
    bottom: 8%;
    border: 0px solid black;
    border-radius: 100px;
    height: 9%;
    width: 16%;
    transition: 0.3s;
}

#product .pro .des button.c1:hover{
    cursor: pointer;
    height: 10%;
    width: 17%;
    right: 26%;
    bottom: 8%;
}

#product .pro .des button.c2{
    position: absolute;
    right: 12%;
    bottom: 2%;
    border: 0px solid black;
    border-radius: 100px;
    height: 8%;
    width: 14%;
    transition: 0.3s;
}

#product .pro .des button.c2:hover{
    cursor: pointer;
    height: 9%;
    width: 16%;
    right: 12%;
    bottom: 2%;
}
*/

#product .pro:nth-child(1) .des button.c1{
    background-color: #A1AAD5;
}
#product .pro:nth-child(1) .des button.c2{
    background-color: #C3C3C5;
}
#product .pro:nth-child(2) .des button.c1{
    background-color: #CDB898;
}
#product .pro:nth-child(2) .des button.c2{
    background-color: #8D6B52;
}
#product .pro:nth-child(3) .des button.c1{
    background-color: #827E68;
}
#product .pro:nth-child(3) .des button.c2{
    background-color: #040305;
}
#product .pro:nth-child(4) .des button.c1{
    background-color: #B9B9B7;
}
#product .pro:nth-child(4) .des button.c2{
    background-color: #585A5E;
}

@media (max-width:850px){
    #prodetails{
        width: 95%;
        margin: 30px 15px;
    }
    #prodetails .sing-pro-image{
        width: 60%;
    }
    #prodetails .sing-pro-image img{
        width: 70%;
    }
    .small-img-group{
        width: 28%;
    }
    #prodetails .pro-des{
        padding: 5px 0px;
        width: 45%;
    }
    .pro-des span{
        font-size: small;
        line-height: 20px;
    }
    .pro-des button{
        width: 55%;
    }
}

@media (max-width:414px){
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .sing-pro-image{
        width: 100%;
    }
    #prodetails .pro-des{
        width: 100%;
        margin: 7px;
    }
    .pro-des span{
        margin-right: 25px;
    }
    .pro-des button{
        width: 45%;
    }
}